@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@layer components {
  .navbar-icon {
    @apply tooltip tooltip-right m-1 cursor-pointer text-3xl font-bold text-base-content transition-all duration-300 ease-linear hover:text-secondary;
  }

  .navbar-logo {
    @apply tooltip tooltip-right m-1 mt-auto h-12 cursor-pointer text-3xl font-bold text-base-content transition-all duration-300 ease-linear hover:text-primary;
  }

  .main-content {
    @apply flex w-full h-screen flex-col gap-4 p-8 overflow-auto;
  }

  .main-header {
    @apply pb-4 text-5xl font-bold text-base-content;
  }

  .week-list {
    @apply h-screen w-full overflow-auto p-8;
  }

  .daisy-border{
    border-radius: var(--rounded-btn,1);
  }

  .daisy-border-l{
    border-top-left-radius: var(--rounded-box,1);
    border-bottom-left-radius: var(--rounded-box,1);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .daisy-border-t{
    border-top-left-radius: var(--rounded-box,1);
    border-top-right-radius: var(--rounded-box,1);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

body {
  overflow: hidden;
}
