@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@layer components {
  .navbar-icon {
    @apply tooltip tooltip-right m-1 cursor-pointer text-3xl font-bold text-base-content transition-all duration-300 ease-linear hover:text-secondary;
  }

  .navbar-logo {
    @apply tooltip tooltip-right m-1 mt-auto h-12 cursor-pointer text-3xl font-bold text-base-content transition-all duration-300 ease-linear hover:text-primary;
  }

  .main-content {
    @apply flex h-screen w-full flex-col gap-4 overflow-auto p-8;
  }

  .main-header {
    @apply pb-4 text-5xl font-bold text-base-content;
  }

  .week-list {
    @apply h-screen w-full overflow-auto p-8;
  }
}

body {
  overflow: hidden;
}

.traingle-t-l {
  background-image: linear-gradient(
    to bottom right,
    hsl(var(--in)) 50%,
    hsl(var(--b1)) 50%
  );

  box-shadow: -0.06rem -0.06rem 0.5rem hsl(var(--inc, var(--nc)) / 0.2);
}

.daisy-border {
  border-radius: var(--rounded-btn, 1);
}

.daisy-border-box {
  border-radius: var(--rounded-box, 1);
}

.daisy-border-l {
  border-top-left-radius: var(--rounded-box, 1);
  border-bottom-left-radius: var(--rounded-box, 1);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
